{% extends 'index2.html' %}

{% block content %}
<div class="panel panel-default vspace">
    <form method="post">
	<div class="panel-heading">Top 10</div>
	<table class="table">
		<thead>
			<tr>
				<th><button type="submit" name="select" value="2" style="padding:0; border:none">#</button></th>
				<th><button type="submit" name="select" value="3" style="padding:0; border:none">Player</button></th>
				<th><button type="submit" name="select" value="5" style="padding:0; border:none">Word</button></th>
				<th><button type="submit" name="select" value="7" style="padding:0; border:none">Errors</button></th>
				<th><button type="submit" name="select" value="11" style="padding:0; border:none">Scoring</button></th>
				<th><button type="submit" name="select" value="13" style="padding:0; border:none">Time</button></th>
				<th><button type="submit" name="select" value="17" style="padding:0; border:none">Streak</button></th>
		<tbody>
		{% for game in games %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ game.player }}</td>
				<!--<td class="text-success">{{ game.currentcpy }}</td>-->
				<td>
					<!--{% for c in game.currentcpy %}{% if c == c.upper() %}<span class="text-success">{{c}}</span>{% endif %}{% if c != c.upper() %}<span style="color:#DD5222">{{c.upper()}}</span>{% endif %}{% endfor %}-->
				<!--then I found this in play.html lol-->
				{% for letter in game.wordcpy %}<span class="
          				text-{% if letter in game.triedcpy %}success{% else %}danger{% endif %}">{{ letter }}</span>{% endfor %}
				</td>
				<td class="text-danger spaced">{{ game.errorscpy }}</td>
				<td>{{ game.pointscpy }}</td>
				<td>{{ game.taken }}</td>
				<td>
				<span style="color:{% if ((game.streakhidden == 0) or (game.streak == 0)) %}#991400{% else %}#4D9900{% endif %}">
				{{ game.streak }}</span>
				</td>
		{% endfor %}
	</table>
	</form>
</div>

{% endblock %}
