{% extends 'index2.html' %}

{% block content %}
<div class="panel panel-default vspace">
	<div class="panel-heading">Top 10</div>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Player</th>
				<th>Word</th>
				<th>Errors</th>
				<th>Score</th>
				<th>Time</th>
				<th>Streak</th>
		<tbody>
		{% for game in games %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ game.player }}</td>
				<!--<td class="text-success">{{ game.currentcpy }}</td>-->
				<td>
					<!--{% for c in game.currentcpy %}{% if c == c.upper() %}<span class="text-success">{{c}}</span>{% endif %}{% if c != c.upper() %}<span style="color:#DD5222">{{c.upper()}}</span>{% endif %}{% endfor %}-->
				<!--then I found this in play.html lol-->
				{% for letter in game.wordcpy %}<span class="
          				text-{% if letter in game.triedcpy %}success{% else %}danger{% endif %}">{{ letter }}</span>{% endfor %}
				</td>
				<td class="text-danger spaced">{{ game.errorscpy }}</td>
				<td>{{ game.pointscpy }}</td>
				<td>{{ game.taken }}</td>
				<td>
				<span style="color:{% if ((game.streakhidden == 0) or (game.streak == 0)) %}#991400{% else %}#4D9900{% endif %}">
				{{ game.streak }}</span>
				</td>
		{% endfor %}
	</table>
</div>

{% endblock %}
