{% extends 'index.html' %}

{% block content %}
  <form action="{{ url_for('new_game') }}" class="form-inline">
    <div class="form-group vspace">
      <input name="player" class="input-lg" required="required"
             placeholder="Your name">
      <button class="btn btn-primary btn-lg" type="submit">Play!</button>
    </div>
  </form>

  <div class="panel panel-default vspace">
    <div class="panel-heading">Top 10</div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>Word</th>
          <th>Errors</th>
          <th>Points</th>
      <tbody>
        {% for game in games %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ game.player }}</td>
	    <!--<td class="text-success">{{ game.currentcpy }}</td>-->
	    <td>
		{% for c in game.currentcpy %}{% if c == c.upper() %}<span class="text-success">{{c}}</span>{% endif %}{% if c != c.upper() %}<span style="color:#DD5222">{{c.upper()}}</span>{% endif %}{% endfor %}
	    </td>
            <td class="text-danger spaced">{{ game.errorscpy }}</td>
            <td>{{ game.pointscpy }}</td>
        {% endfor %}
    </table>
  </div>
  <!--div>
      <span>Hello</span>
      <span src="{{ url_for('bcontent') }}"></span>
      <iframe frameborder="0" noresize="noresize"
      style='background: transparent; width: 100%; height:100%; border:1px solid black' src="{{ url_for('bcontent')}}"></iframe>
  </div-->
{% endblock %}
