{% extends 'index3.html' %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="static/instructions.css">
</head>

</div id="main_drawing" class="popup">
  <svg width="250" height="230" id="drawing" onmouseover="positive('behind')" onclick="initial(), cycle(), positive('myPopup3')" onmouseout="negative('behind'), negative('myPopup3'), stopcycle()">
    <!-- Structure -->
    <g id="behind" class="invis100">
      <line y1="220" y2="220" x1="10" x2="120" stroke="red" stroke-width="7"/>
      <line y1="10" y2="220" x1="65" x2="65" stroke="red" stroke-width="7"/>
      <line y1="10" y2="10" x1="65" x2="175" stroke="red" stroke-width="7"/>
      <line y1="10" y2="40" x1="175" x2="175" stroke="red" stroke-width="7"/>
    </g>
    
    <line y1="220" y2="220" x1="10" x2="120" />
    <line y1="10" y2="220" x1="65" x2="65" />
    <line y1="10" y2="10" x1="65" x2="175" />
    <line y1="10" y2="40" x1="175" x2="175" />


    <g id="man" class="invis100">
      <circle cx="175" cy="55" r="15" />
      <ellipse cx="175" cy="115" rx="20" ry="45" />
      <line y1="150" y2="190" x1="162" x2="140" />
      <line y1="150" y2="190" x1="188" x2="210" />
      <line y1="80" y2="40" x1="162" x2="140" />
      <line y1="80" y2="40" x1="188" x2="210"/>
    </g>
    <!--g id="mang" class="invis100"-->
      <g id="mang0" class="invis100"><circle cx="175" cy="55" r="15" /></g>
      <g id="mang1" class="invis100"><ellipse cx="175" cy="115" rx="20" ry="45" /></g>
      <g id="mang2" class="invis100"><line y1="150" y2="190" x1="162" x2="140" /></g>
      <g id="mang3" class="invis100"><line y1="150" y2="190" x1="188" x2="210" /></g>
      <g id="mang4" class="invis100"><line y1="80" y2="40" x1="162" x2="140" /></g>
      <g id="mang5" class="invis100"><line y1="80" y2="40" x1="188" x2="210" /></g>
    <!--/g-->
  </svg>
</div>
<div class="popup">
  <span class="popuptext popuptext1" id="myPopup3" style="z-index: -1; bottom: 120px; left: -200px">When players guesses an incorrect letter that is not in the word, the error counter will increase and another element of the 'hangman' will appear.</span>
</div>

<div>
  <h1 id="current" class="spaced immune">_________</h1>
</div>
<div style="position: absolute; top: 387px; left: 50%; transform: translate( -50%, -50% )">
  <h1 id="currentp" class="spaced invis100">P__A_Y_E_</h1>
</div>
<div id="currentf0" class="invis100" style="position: absolute; top: 387px; left: 50%; transform: translate( -50%, -50% )">
  <h1 class="text-success spaced">PLNARYWEN</h1>
</div>
<div id="currentf1" class="invis100" style="position: absolute; top: 387px; left: 50%; transform: translate( -50%, -50% )">
  <h1 class="text-success spaced">P<span class="text-danger">LN</span>A<span class="text-danger">R</span>Y<span class="text-danger">W</span>E<span class="text-danger">N</span></h1>
</div>

<div id="errors" class="immune" style="position: relative; z-index: 1; cursor: pointer">
  <h2 class="vspace fade" onclick="positive('myPopup2'), initial0(), cycle0()" onmouseout="negative('myPopup2'), stopcycle0()">
    Errors (X/6):
    <span class="text-danger spaced" id="errorsc"></span>
  </h2>
</div>
<div id="errorsf0" class="invis100" style="position: absolute; top: 446px; left: 50%; transform: translate( -50%, -50% )">
  <h2 class="vspace">
    You won!
  </h2>
</div>
<div id="errorsf1" class="invis100" style="position: absolute; top: 446px; left: 50%; transform: translate( -50%, -50% )">
  <h2 class="vspace">
    You lost :(
  </h2>
</div>
<div class="popup">
  <span class="popuptext popuptext0" id="myPopup2" style="z-index: -1; bottom: -180px; left: 0px">If players make 6 errors, the hangman will display all elements and the game is over.<br><br>If you guess the word before the hangman is completed, you win!</span>
</div>
<div id="errors1" class="invis100" style="position: absolute; top: 446px; left: 50%; transform: translate( -50%, -50% )">
  <h2 class="vspace">
    Errors (1/6):
    <span class="text-danger spaced" id="errorsc">S</span>
  </h2>
</div>
<div id="errors2" class="invis100" style="position: absolute; top: 446px; left: 50%; transform: translate( -50%, -50% )">
  <h2 class="vspace">
    Errors (2/6):
    <span class="text-danger spaced" id="errorsc">RS</span>
  </h2>
</div>
<div id="errors3" class="invis100" style="position: absolute; top: 446px; left: 50%; transform: translate( -50%, -50% )">
  <h2 class="vspace">
    Errors (3/6):
    <span class="text-danger spaced" id="errorsc">ERS</span>
  </h2>
</div>
<div id="errors4" class="invis100" style="position: absolute; top: 446px; left: 50%; transform: translate( -50%, -50% )">
  <h2 class="vspace">
    Errors (4/6):
    <span class="text-danger spaced" id="errorsc">MERS</span>
  </h2>
</div>
<div id="errors5" class="invis100" style="position: absolute; top: 446px; left: 50%; transform: translate( -50%, -50% )">
  <h2 class="vspace">
    Errors (5/6):
    <span class="text-danger spaced" id="errorsc">AMERS</span>
  </h2>
</div>
<div id="errors6" class="invis100" style="position: absolute; top: 446px; left: 50%; transform: translate( -50%, -50% )">
  <h2 class="vspace">
    Errors (6/6):
    <span class="text-danger spaced" id="errorsc">GAMERS</span>
  </h2>
</div>

<div>
      <input class="input-lg text-uppercase" id="letterinput" maxlength="1" size="1"
        name="letter" autocomplete="off" autofocus>
    <button id="btn" class="btn" onclick="positive('myPopup4'), negative('current'), positive('currentp')" onmouseout="negative('myPopup4'), negative('currentp'), positive('current')">Try letter</button>
    <div class="popup">
      <span class="popuptext popuptext3" id="myPopup4" style="z-index: -1; bottom: -50px; left: 100px">Players start by guessing a letter in the input box - each blank line signifies a letter in the word. <br>When you have entered the first valid letter, the timer starts.</span>
    </div>
</div>

<div class="popup">
  <span class="popuptext popuptext2" id="myPopup5" style="z-index: -1; bottom: 0px; left: 0px">The difficulty shortens the length of letters, and makes the time bonus tighter, but in exchange gives you massive bonuses to your points if you can guess the word in that time!</span>
</div>
<div id="spell" class="immune" style="width: 300px; left: 34%; position: relative; z-index: 2; cursor: pointer; top: -20px" onclick="positive('myPopup5'), initial1(), cycle1()" onmouseout="negative('myPopup5'), stopcycle1()">
  <div class="fade">
  <div><h3>Difficulty:<h3></div>
  <div><h4>Time: 00:00<h4></div>
  </div>
</div>
<div id="spell0" class="invis100" style="position: absolute; top: 610px; left: 50%; transform: translate( -50%, -50% )">
  <div><h3>Difficulty: Easy<h3></div>
  <div><h4>Time: <span class="text-success">01:00</span><h4></div>
</div>
<div id="spell1" class="invis100" style="position: absolute; top: 610px; left: 50%; transform: translate( -50%, -50% )">
  <div><h3>Difficulty: Normal<h3></div>
  <div><h4>Time: <span class="text-warning">00:40</span><h4></div>
</div>
<div id="spell2" class="invis100" style="position: absolute; top: 610px; left: 50%; transform: translate( -50%, -50% )">
  <div><h3>Difficulty: Hard<h3></div>
  <div><h4>Time: <span class="text-warning">00:30</span><h4></div>
</div>
<div id="spell3" class="invis100" style="position: absolute; top: 610px; left: 50%; transform: translate( -50%, -50% )">
  <div><h3>Difficulty: Lunatic<h3></div>
  <div><h4>Time: <span class="text-danger">00:15</span><h4></div>
</div>
<form action="{{ url_for('home') }}">
<button class="btn btn-primary btn-lg" type="submit">Return</button>
</form>
<form method="post" style="position: absolute; top: 200px; left: 10px">
  <button type="submit" name="secret" value="1" {% if secret %}style="background:red"{% endif %}>":OJM_@</button>
</form>

<!--span class="fade">Gamer?</span>




<body>


<button class="btn">Hover Over Me</button>
<br>
<div class="popup" style="width: 500px">
  <span class="popuptext popuptext2" id="myPopup" style="z-index: -1">Popup text...</span>
  <svg style="height: 40px">
    <g id="popimg0", opacity="0">
      <circle cx="50%" cy="50%" r="17" fill="red"/>
    </g>
    <g onmouseover="positive('popimg0')" onclick="positive('myPopup'), positive('man')" onmouseout="negative('myPopup'), negative('popimg0'), negative('man')">
      <circle cx="50%" cy="50%" r="15" style="cursor: pointer"/>
    </g>
  </svg>
</div>

<form action="{{ url_for('home') }}">
<button class="btn btn-primary btn-lg" type="submit">Return</button>
</form>
<button onclick="alert('this is a popup!')">Lol</button-->





<script>
// When the user clicks on <div>, open the popup
function positive(item) {
  var popup = document.getElementById(item);
  if (!((item == "errors") || (item == "spell"))) {
    popup.classList.add("what");
  }
  if (popup.classList.contains("popuptext")) {
    popup.style.zIndex = "1";
  }
  setTimeout(popup.classList.remove("what2"), 1000);
}
function negative(item) {
  var popup = document.getElementById(item);
  if (popup.classList.contains("what") || popup.classList.contains("immune")) {
    popup.classList.add("what2");
  }
  if (popup.classList.contains("popuptext")) {
    setTimeout(popup.style.zIndex = "-1", 1000);
  }
  setTimeout(popup.classList.remove("what"), 1000);
}


//displays hanging animation
var timer;
var process = 0;

function initial() {
  process = 1;
}

//here we serve-a beutifufull spaghet-a
function cycle() {
  if (timer || !process) return;
  timer = 1;
  if (timer) {
    positive("mang0"); 
    negative("errors");
    positive("errors1");
    setTimeout(function() {if (timer) {
      positive("mang1"); 
      negative("errors1");
      positive("errors2");
      setTimeout(function() {if (timer) {
        positive("mang2"); 
        negative("errors2");
        positive("errors3");
        setTimeout(function() {if (timer) {
          positive("mang3");
          negative("errors3");
          positive("errors4");
          setTimeout(function() {if (timer) {
            positive("mang4"); 
            negative("errors4");
            positive("errors5");
            setTimeout(function() {if (timer) {
              positive("mang5"); 
              negative("errors5");
            positive("errors6");
              setTimeout(function() {
              negative("mang0"), negative("mang1"), negative("mang2"), negative("mang3"), negative("mang4"), negative("mang5"); 
              positive("errors"), negative("errors1"), negative("errors2"), negative("errors3"), negative("errors4"), negative("errors5"), negative("errors6");
              if (timer) {
                timer = 0;
                setTimeout(cycle, 1000);
              } else return;}, 1000);
            } else return;}, 1000);
          } else return;}, 1000);
        } else return;}, 1000);
      } else return;}, 1000);
    } else return;}, 1000);
  } else return;
}

function stopcycle() {
  negative("mang0"), negative("mang1"), negative("mang2"), negative("mang3"), negative("mang4"), negative("mang5");
  positive("errors"), negative("errors1"), negative("errors2"), negative("errors3"), negative("errors4"), negative("errors5"), negative("errors6");
  timer = 0
  process = 0
}


//doing the same thing again cos i didn't add configurability lol
var timer0;
var process0 = 0;

function initial0() {
  process0 = 1;
}


function cycle0() {
  if (timer0 || !process0) return;
  timer0 = 1;
  if (timer0) {
    negative("current");
    negative("errors");
    positive("currentf0");
    positive("errorsf0");
    setTimeout(function () {if (timer0) {
      negative("currentf0");
      negative("errorsf0");
      positive("currentf1");
      positive("errorsf1");
      positive("man");
      setTimeout(function () {if (timer0) {
        negative("currentf1");
        negative("errorsf1");
        negative("man");
        if (timer0) {
          timer0 = 0;
          cycle0();
        }
      } else return;}, 1000);
    } else return;}, 1000);
  } else return;
}


function stopcycle0() {
  negative("currentf0");
  negative("errorsf0");
  negative("currentf1");
  negative("errorsf1");
  negative("man");
  positive("current");
  positive("errors");
  timer0 = 0
  process0 = 0
}

//and another one. Yay!
var timer1;
var process1 = 0;

function initial1() {
  process1 = 1;
}


function cycle1() {
  if (timer1 || !process1) return;
  timer1 = 1;
  if (timer1) {
    negative("spell");
    positive("spell0");
    setTimeout(function () {if (timer1) {
      negative("spell0");
      positive("spell1");
      setTimeout(function () {if (timer1) {
        negative("spell1");
        positive("spell2");
        setTimeout(function () {if (timer1) {
          negative("spell2");
          positive("spell3");
          setTimeout(function () {if (timer1) {
            negative("spell3");
            if (timer1) {
              timer1 = 0;
              cycle1();
            }
          } else return;}, 1000);
        } else return;}, 1000);
      } else return;}, 1000);
    } else return;}, 1000);
  } else return;
}


function stopcycle1() {
  negative("spell0");
  negative("spell1");
  negative("spell2");
  negative("spell3");
  positive("spell");
  timer1 = 0
  process1 = 0
}


</script>
{% endblock %}
