{% extends 'index2.html' %}

{% block content %}

<form method="post">
<button type="submit" name="select" value="0" {% if difficulty == 0 %}style="background-color:red"{% endif %}>Easy</button>
<button type="submit" name="select" value="1" {% if difficulty == 1 %}style="background-color:red"{% endif %}>Normal</button>
<button type="submit" name="select" value="2" {% if difficulty == 2 %}style="background-color:red"{% endif %}>Hard</button>
<button type="submit" name="select" value="3" {% if difficulty == 3 %}style="background-color:red"{% endif %}>Lunatic</button>
<button type="submit" name="select" value="-1">Play</button>

<!--input type="submit" name="select" value="0">
<input type="submit" name="select" value="1">
<input type="submit" name="select" value="2"-->
<span>{{difficulty}}</span>
</form>

{% endblock %}
