<form method="post">
<button type="submit" name="select" value="0">Easy</button>
<button type="submit" name="select" value="1">Normal</button>
<button type="submit" name="select" value="2">Hard</button>
<button type="submit" name="select" value="3">Lunatic</button>
<button type="submit" name="select" value="-1">Play</button>

<!--input type="submit" name="select" value="0">
<input type="submit" name="select" value="1">
<input type="submit" name="select" value="2"-->
<span>{{difficulty}}</span>
</form>
