{% extends 'index.html' %}

{% block content %}
<style>
.container {
  width: {{ 570 + (game.word|length > 14) * (game.word|length - 14) * 20 }}px;
}

.spaced {
{% if game.word|length > 14 %}
  letter-spacing: {{ 28 - game.word|length }}px;
{% else %}
  letter-spacing: 15px;
{% endif %}
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

.invis100 {
  opacity: 0;
}

.what {
  opacity: 1;
  -webkit-animation: fadeIn 500ms;
  animation: fadeIn 500ms
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.what2 {
  opacity: 0;
  -webkit-animation: fadeOut 500ms;
  animation: fadeOut 500ms
}

@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
</style>
  <body onload="refresher(), rand()">

  <div>
  <svg width="250" height="230" id="drawing" {% if game.finished %}class="invis100 what2"{% endif %}>
    <!-- Structure -->
    <line y1="220" y2="220" x1="10" x2="120" />
    <line y1="10" y2="220" x1="65" x2="65" />
    <line y1="10" y2="10" x1="65" x2="175" />
    <line y1="10" y2="40" x1="175" x2="175" />

    <!-- modify hangman drawing here as well as .css file`-->
    <g id="hangman-drawing">
      <circle cx="175" cy="55" r="15" />
      <ellipse cx="175" cy="115" rx="20" ry="45" />
      <line y1="150" y2="190" x1="162" x2="140" />
      <line y1="150" y2="190" x1="188" x2="210" />
      <line y1="80" y2="40" x1="162" x2="140" />
      <line y1="80" y2="40" x1="188" x2="210" />
    </g>
  </svg>
  {% if game.finished %}
  <div class="fade">
  <table id="scores" class="table what" style="position: absolute; left: 27.6%; top: 0px; width: 250px; border: 1px solid; white-space: nowrap; z-index: 1; cursor: pointer;" onclick="positive('drawing'), negative('scores')" onmouseout="positive('scores'), negative('drawing')">
    <thead>
      <tr>
        <th>Category</th>
        <th>Score</th>
    <tbody>
      <tr>
        <td>Unique letter score</td>
        <td>30</td>
      <tr>
        <td>Error penalty</td>
        <td>300</td>
      <tr>
        <td>Time bonus</td>
        <td>3000</td>
      <tr>
        <td>Game fail penalty</td>
        <td>3000</td>
      <tr>
        <th>Total</th>
        <th>300</th>
  </table>
  </div>
  {% endif %}
  </div>
  {% if game.finished %}
    <h1>
      {% for letter in game.word %}
        <span class="
          text-{% if letter in game.tried %}success{% else %}danger{% endif %}">
          {{ letter }}
        </span>
      {% endfor %}
    </h1>
    <h3>
      {% if game.won %} You won! {% else %} You lost :-( {% endif %}
    </h3>
    <p>
      <a class="btn btn-default" href="{{ url_for('home') }}">Home</a>
      <!--when new game is pressed it doesn't go through the difficulty select screen. It is kept.-->
      <a class="btn btn-primary"
         href="{{ url_for('nearly', player=game.player) }}?player={{ game.player }}"><!--new_game-->
        Play again
      </a>
    </p>
  {% else %}
    <!--h1 id="current" class="spaced">{{ game.current }}</h1-->
    <h1 id="current" class="spaced">
      {% for letter in game.current %}{% if letter != '_' %}<span class="text-success">{% endif %}{{ letter }}{% if letter != '_' %}</span>{% endif %}{% endfor %}
    </h1>
  {% endif %}

  <h2 class="vspace" id="errors">
    Errors ({{ game.errors|length }}/6):
    <span class="text-danger spaced">{{ game.errors }}</span>
  </h2>

  {% if not game.finished %}
    <form method="post" id="letter-form" class="form-inline vspace">
      <div class="form-group">
        <input class="input-lg text-uppercase" id="letterinput" maxlength="1" size="1"
               name="letter" autocomplete="off" autofocus>
      </div>
      <button id="btn" type="submit" class="btn btn-default btn-lg">Try letter</button>
    </form>
  {% endif %}
  
  <h3 id="dif">Difficulty: 
  {% if difficulty == 0 %}
  Easy
  {% elif difficulty == 1 %}
  Normal
  {% elif difficulty == 2 %}
  Hard
  {% elif difficulty == 3 %}
  Lunatic
  {% endif %}
  </h3>
  
  <iframe id="iframe" frameborder="0" noresize="noresize"
  style="padding: 0; background: transparent; width: 60%; height: 100px; 
  border:0px solid black; position: relative; top: -30px; z-index: -1" src="{{ url_for('bcontent', _=current_time)}}"></iframe>
  
  {% if not game.finished %}
  <div id="but" class="vspace" style="position: relative; top: -50px">
  <a href="{{ url_for('home') }}">
  <button class="btn btn-primary btn-lg">Save and Quit</button>
  </a>
  </div>
  {% endif %}
  </body>
<script>
function quit() {
  if (window.confirm('Are you sure you want to quit? Your streak will be lost as you have already started the game!')) {
    window.location.href = "{{ url_for('home') }}";
  }
}

function rand() {
  var text = "Difficulty: ";
  var cycle = 9 + Math.floor(Math.random() * 40);
  for (var i = 0; i < cycle; i++) {
    text += String.fromCharCode(Math.floor(Math.random() * 4096));
  }
  if ({{ secret }} == 1) {
    document.getElementById("dif").innerHTML = text;
  }
}


var cssLink = document.createElement("link");
cssLink.href = "timer.css"; 
cssLink.rel = "stylesheet"; 
cssLink.type = "text/css"; 
frames['iframe'].document.head.appendChild(cssLink);
var flag = 0;
function refresher() {
  if (flag == 1) return; 
  flag = 1;
  setTimeout(refresh, 1000);
}
async function refresh() {
  //reload timer every second. This also moves the python variable forward!
  iframe.innerHTML = "Loading...";
  iframe.src = "{{ url_for('bcontent', _=current_time)}}";
  
  setTimeout(refresh, 1000);
}
  
function positive(item) {
  var popup = document.getElementById(item);
  if (!((item == "drawingl") || (item == "spell"))) {
    popup.classList.add("what");
  }
  if (popup.classList.contains("popuptext")) {
    popup.style.zIndex = "1";
  }
  setTimeout(popup.classList.remove("what2"), 1000);
}
function negative(item) {
  var popup = document.getElementById(item);
  if (popup.classList.contains("what") || popup.classList.contains("immune")) {
    popup.classList.add("what2");
  }
  if (popup.classList.contains("popuptext")) {
    setTimeout(popup.style.zIndex = "-1", 1000);
  }
  setTimeout(popup.classList.remove("what"), 1000);
}
</script>
{% endblock %}

{% block bottom %}
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script>
    //updateDrawing('{{ game.errors }}');
    $('#hangman-drawing').children().slice(0, {{ game.errors|length }}).show();
  </script>
{% endblock %}
